/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~fontawesome-free-5.14.0-web/css/fontawesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Berkshire+Swash|Lustria|Old+Standard+TT|Pangolin&display=swap');
body{
  background-image: url("assets/gitbackground.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}